:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

input {
  font-size: 2rem;
  padding: 0.5rem;
  border-color: #b0b0b0;
  border-width: 1px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.input--error {
  background-color: rgb(255, 132, 132);
  border-color: red;
  border-width: 2px;
}

.rainbow--background {
  background: linear-gradient(45deg, #ff4081, #e040fb, #3f51b5, #8bc34a, #ff4081);
  background-size: 400% 100%;
  animation: rainbow 4s linear infinite;
}

@keyframes rainbow {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}


